In [28]:
#Importamos librerias necesarias

import pandas as pd

In [29]:
# Leemos el dataset

df_zones = pd.read_csv(r'Datasets\taxi_zone_lookup.csv')
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [30]:
#Filtramos el DF para obtener solo las zonas de Manhattan
df_manhattan = df_zones[df_zones['Borough'] == 'Manhattan']
df_manhattan

     LocationID    Borough                       Zone service_zone
3             4  Manhattan              Alphabet City  Yellow Zone
11           12  Manhattan               Battery Park  Yellow Zone
12           13  Manhattan          Battery Park City  Yellow Zone
23           24  Manhattan               Bloomingdale  Yellow Zone
40           41  Manhattan             Central Harlem    Boro Zone
..          ...        ...                        ...          ...
245         246  Manhattan  West Chelsea/Hudson Yards  Yellow Zone
248         249  Manhattan               West Village  Yellow Zone
260         261  Manhattan         World Trade Center  Yellow Zone
261         262  Manhattan             Yorkville East  Yellow Zone
262         263  Manhattan             Yorkville West  Yellow Zone

[69 rows x 4 columns]

In [31]:
df_zonas_taxis = df_manhattan.drop('Borough', axis=1, inplace=True)

C:\Users\pauda\AppData\Local\Temp\ipykernel_1872\628004505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zonas_taxis = df_manhattan.drop('Borough', axis=1, inplace=True)

In [ ]:
#Exportamos el DF a un archivo CSV
df_zonas_taxis.to_csv('zonas_taxis_en_Manhattan.csv', index = False)

In [34]:
unique_values = df_manhattan['Zone'].unique()
print(unique_values)

['Alphabet City' 'Battery Park' 'Battery Park City' 'Bloomingdale'
 'Central Harlem' 'Central Harlem North' 'Central Park' 'Chinatown'
 'Clinton East' 'Clinton West' 'East Chelsea' 'East Harlem North'
 'East Harlem South' 'East Village' 'Financial District North'
 'Financial District South' 'Flatiron' 'Garment District'
 "Governor's Island/Ellis Island/Liberty Island" 'Gramercy'
 'Greenwich Village North' 'Greenwich Village South' 'Hamilton Heights'
 'Highbridge Park' 'Hudson Sq' 'Inwood' 'Inwood Hill Park' 'Kips Bay'
 'Lenox Hill East' 'Lenox Hill West' 'Lincoln Square East'
 'Lincoln Square West' 'Little Italy/NoLiTa' 'Lower East Side'
 'Manhattan Valley' 'Manhattanville' 'Marble Hill'
 'Meatpacking/West Village West' 'Midtown Center' 'Midtown East'
 'Midtown North' 'Midtown South' 'Morningside Heights' 'Murray Hill'
 'Penn Station/Madison Sq West' 'Randalls Island' 'Roosevelt Island'
 'Seaport' 'SoHo' 'Stuy Town/Peter Cooper Village'
 'Sutton Place/Turtle Bay North' 'Times Sq/Theatre District'
 'TriBeCa/Civic Center' 'Two Bridges/Seward Park' 'UN/Turtle Bay South'
 'Union Sq' 'Upper East Side North' 'Upper East Side South'
 'Upper West Side North' 'Upper West Side South'
 'Washington Heights North' 'Washington Heights South'
 'West Chelsea/Hudson Yards' 'West Village' 'World Trade Center'
 'Yorkville East' 'Yorkville West']

In [35]:
df_manhattan['Zone'].value_counts()

Zone
Governor's Island/Ellis Island/Liberty Island    3
Murray Hill                                      1
Stuy Town/Peter Cooper Village                   1
SoHo                                             1
Seaport                                          1
                                                ..
Lenox Hill East                                  1
Lenox Hill West                                  1
Lincoln Square East                              1
Lincoln Square West                              1
Yorkville West                                   1
Name: count, Length: 67, dtype: int64